/* Wifi configuration */
#define EXAMPLE_ESP_WIFI_SSID      "my_ssid"
#define EXAMPLE_ESP_WIFI_PASS      "my_password"

 /* Google Script Configuration */
 #define GOOGLE_SCRIPT_ID "AKfyc****************7vB9pb2URqEZK" // ID from the deployed Apps Script (see README/Google Sheet section)
